<h1><%= @book.title %></h1>

<%= form_tag "/books/#{@book.id}", method: "patch" do %>
  <input type="text" name="title" value="" />
  <input type="submit" value="Modifier le livre" />
<% end %>

<p><a href="/books">Retourner à l’index</a></p>